---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* Fonts */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: sans-serif;
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */


/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: #454545;
$heading-color: #180a49;
$link-color: #841212;

@import "ed";
@import "syntax";
// @import "CETEIcean.css";


div   {
margin-top: 0;
margin-bottom: 1rem;
}

h1 {
  text-align: center;
  // color: $link-color;
}


.estrofa {
margin-bottom:30px;
}

.notalpie {
margin-top:80px;
}

span {
margin-top: 0;
}

.caesura {
<<<<<<< HEAD
padding-right: 2rem;
=======
padding-right: 1rem;
>>>>>>> 9be09d1f94cf31e0b385959e5a9d94efbe02c25d
}


p {
margin-top: 0;
margin-bottom: 1rem;
text-align: justify;
text-indent: 3%;
}

.verso {
margin-bottom:0px;
}

.footnote {
margin-bottom: 5px;
font-size: 15px;
}

.motivo {
margin-bottom: 10px;
}

.nrodeestrofa {
margin-bottom: 10px;
}




.clasico
{
color: #279711;
}

.alexandre
{
color: #FF7417;
}

.religioso
{
color: #B812CA;
}

.enciclopedico
{
color: #186ec4;
}

